
$border-color: #d9d9d9;
$border-hover-color: #40a9ff;
$primary-color: #1890ff;
$disabled-bg-color: #f5f5f5;
$disabled-border-color: #d9d9d9;
$disabled-color: rgba(0, 0, 0, 0.25);

.form-label {
  font-size: 14px;
  font-weight: 500;
  margin-bottom: 0px;
  &.required::before {
    content: "*";
    color: #ff4d4f;
    margin-right: 4px;
  }
}

.input-base {
  width: 100%;
  height: 32px;
  padding: 0 11px;
  font-size: 14px;
  line-height: 1.5715;
  color: rgba(0, 0, 0, 0.85);
  background-color: #fff;
  border: 1px solid $border-color;
  border-radius: 4px;
  outline: none;
  box-sizing: border-box;
  transition: border-color 0.3s, box-shadow 0.3s;

  &::placeholder {
    color: rgba(0, 0, 0, 0.25);
  }

  &:hover {
    border-color: $border-hover-color;
  }

  &:focus {
    border-color: $primary-color;
    box-shadow: 0 0 0 2px rgba($primary-color, 0.2);
  }

  &:disabled {
    background-color: $disabled-bg-color;
    border-color: $disabled-border-color;
    color: $disabled-color;
    cursor: not-allowed;
  }
}
