
//css sider
.sider-manage {
  transition: width 0.3s ease;

  .logo-text,
  .menu-label,
  .menu-section-title {
    display: inline-block;
    white-space: nowrap;
    transition: opacity 0.3s ease, transform 0.3s ease;
    opacity: 1;
    transform: translateX(0);
  }

  &.collapsed {
    .logo-text,
    .menu-label,
    .menu-section-title {
      opacity: 0;
      transform: translateX(-8px);
      pointer-events: none;
    }


  }

  &.expanded {
    .logo-text,
    .menu-label,
    .menu-section-title {
      opacity: 1;
      transform: translateX(0);
    }
  }

  .menu-section-title {
    font-weight: 600;
    color: #999;
    margin: 10px 0;
  }
}
